# Python Virtual Environments
venv/

# Python Cache
__pycache__/
*.pyc

# Large Data and Generated Outputs
data/
outputs/

# OS-specific files (macOS)
.DS_Store

# IDE-specific files (VS Code)
.vscode/
*.code-workspace

# Python build artifacts and distribution files (NEW)
build/
dist/
*.egg-info/
*.egg