# Core depandancies for the depth map based wound boder characterization project
# Core ML / Data Science Libraries
numpy==2.2.6
pandas==2.2.3
scikit-learn==1.6.1
scikit-image==0.25.2
scipy==1.15.2
pacmap==0.8.0
hdbscan==0.8.40
joblib==1.5.0

# Plotting and Visualization
matplotlib==3.10.3
seaborn==0.13.2

# Utilities
tqdm==4.67.1

# Image Processing
opencv-python==4.11.0.86
pillow==11.2.1

# --- Development & Testing Dependencies ---
# These packages are only required to run the test suite
pytest==8.4.1